.test {
    border-radius: 50px;

}


.container {
    width: 27%;
    text-align: center;
    color: black;
    height: 400px;
    margin: auto;
    margin-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    transition: filter 0.3s ease;
}

.container:hover > {
    filter: brightness(70%);
}


.info{
    position: absolute;
    height: 100%;
    /* background-color: red; */
    color: white;
    filter: brightness(1.5);
    /* margin-top: 38%; */
    /* width: 27%; */
}

.info:hover > .fav-btn{
    filter: brightness(100%);

}

.fav-btn{

    margin-top: 60%;
    background-color: transparent;
    border-radius: 30px;
    height: 40px;
    width: 100px;
    scale: 160%;
    color: white;
    border: 3px solid white;
    cursor: pointer;    
    transition: scale 0.3s ease;

}


.fav-btn:active {
    scale: 140%;
}